
#stacks_in_251_page25 {
	font-size: 120%;
}

#stacks_in_250_page25 {
	margin: 20px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_248_page25 {
	margin: 20px 30px 0px 30px;
}
#stacks_in_140_page25_button {
	display:block;
	position: relative;
	text-align: center;
}


#stacks_in_140_page25 a:link, #stacks_in_140_page25 a:visited {
	 display:inline-block; 
	
	
	position: relative;
	text-decoration:none;
}
#stacks_in_140_page25 a:hover, #stacks_in_140_page25 a:active {
	color:#FFFFFF;
}










#stacks_in_140_page25 a:link, #stacks_in_140_page25 a:visited {
	background-color:#4E4E4E;
	background: -webkit-gradient(linear, left top, left bottom, from(#4E4E4E), to(#2F2F2F));
	border:1px solid #2F2F2F;
	padding:3px 20px;
	color:#FFFFFF;
	box-shadow:rgba(0, 0, 0, 0.5) 0px 1px 2px;
	margin:5px;
	font-weight:bold;
}
#stacks_in_140_page25 a:hover {
	background-color:#555555;
	background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#282828));
	box-shadow:rgba(0, 0, 0, 0.25) 0px 2px 4px;
}
#stacks_in_140_page25 a:active {
	background-color:#4E4E4E;
	box-shadow:rgba(0, 0, 0, 0.75) 0px 0px 4px inset;
}

#stacks_out_140_page25 {
	width: 25%;
	margin-left:0;
}

#stacks_in_140_page25 {
	margin: 20px 30px 0px 30px;
}

#stacks_in_145_page25 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_145_page25 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_145_page25 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_167_page25 {
	text-transform: capitalize;
}

#stacks_in_166_page25 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_169_page25 {
	font-size: 95%;
}

#stacks_in_168_page25 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_164_page25 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_195_page25 {
	text-transform: capitalize;
}

#stacks_in_194_page25 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_197_page25 {
	font-size: 95%;
}

#stacks_in_196_page25 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_171_page25 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_202_page25 {
	text-transform: capitalize;
}

#stacks_in_201_page25 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_204_page25 {
	font-size: 95%;
}

#stacks_in_203_page25 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_199_page25 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_145_page25 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_142_page25 {
	margin: 0px 30px 0px 30px;
}
