
#stacks_in_0_page6 {
	margin: 20px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_10_page6 .stacks_left {
	float:left;
	width:48%;
}

#stacks_in_10_page6 .stacks_right {
	float:right;
	width:48%;
}
#stacks_in_15_page6 {
	padding: 0px 0px 0px 10px;
}

#stacks_in_10_page6 {
	margin: 20px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_19_page6 .stacks_left {
	float:left;
	width:43%;
}

#stacks_in_19_page6 .stacks_right {
	float:right;
	width:55%;
}
#stacks_in_27_page6 {
	padding: 0px 0px 0px 10px;
}

#stacks_in_19_page6 {
	margin: 30px 30px 0px 30px;
}

#stacks_in_1_page6 {
	margin: 20px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_41_page6 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_41_page6 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_41_page6 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_46_page6 {
	text-transform: capitalize;
}

#stacks_in_45_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_48_page6 {
	font-size: 95%;
}

#stacks_in_47_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_43_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_103_page6 {
	text-transform: capitalize;
}

#stacks_in_102_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_105_page6 {
	font-size: 95%;
}

#stacks_in_104_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_50_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_129_page6 {
	text-transform: capitalize;
}

#stacks_in_128_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_137_page6 {
	font-size: 95%;
}

#stacks_in_130_page6 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_123_page6 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_41_page6 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_7_page6 {
	margin: 0px 30px 0px 30px;
}
