
#stacks_in_29_page9 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_29_page9 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_403_page9 {
	margin: 10px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_32_page9 {
	padding: 30px 0px 0px 0px;
}

#stacks_in_29_page9 {
	margin: 20px 30px 0px 30px;
}

#stacks_in_112_page9 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_112_page9 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_112_page9 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_117_page9 {
	text-transform: capitalize;
}

#stacks_in_116_page9 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_119_page9 {
	font-size: 95%;
}

#stacks_in_118_page9 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_114_page9 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_126_page9 {
	text-transform: capitalize;
}

#stacks_in_125_page9 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_131_page9 {
	font-size: 95%;
}

#stacks_in_127_page9 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_121_page9 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_136_page9 {
	text-transform: capitalize;
}

#stacks_in_135_page9 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_147_page9 {
	font-size: 95%;
}

#stacks_in_146_page9 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_133_page9 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_112_page9 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_107_page9 {
	margin: 0px 30px 0px 30px;
}

#stacks_out_54_page9 {
	margin-left:0;
}
