body,
.movie-background,
.photo-background {
	color: #808080;
	background-color: #F1F1F1;
}

#container {
	background-color: #FFFFFF;
}

a:link, a:visited {
	color: #071F4D;
}

#pageHeader,
.photo-navigation,
.exif-data {
	background-color: #000000;
	border-top-color: #F5F7FE;
}

#pageHeader h1 {
	color: #C2C2C2;
}
		
#pageHeader h2,
.photo-caption,
.photo-navigation,
.exif-data {color: #797979;}
#footer {color: black;background-color: %body_background%;}
#footer a {color: black;}
#sidebarContainer #sidebar {background-color: #F1F1F1;}
#sidebarContainer #sidebar a {color: #455E85;}
#blog-archives a:hover,
#blog-categories a:hover,
#blog-rss-feeds a:hover {
	color: #808080;
}

.blog-archive-link-disabled,
.blog-category-link-disabled {
	color: #808080;
	text-decoration: none;
}

#navcontainer {
	color: #6E6E6E;
	background-color: #F5F7FE;
}

#navcontainer ul  {
	border-bottom-color: #DBDDE4;
	background-color: #F5F7FE;
}

#navcontainer ul ul {
	border-top-color: #E8EAF1;
	background-color: #F5F7FE;
}

#navcontainer ul a {
	color: #071F4D;
}

#navcontainer ul a:hover {
	color: #6E6E6E;
}

#navcontainer #current,
#navcontainer .currentAncestor {
	color: #6E6E6E;
}

#navcontainer ul ul ul #current,
#navcontainer ul ul ul .currentAncestor {
	color: #F5F7FE;
}

#navcontainer ul ul ul {
	border-bottom-color: #071F4D;
	border-top-color: #DBDDE4;
}

#navcontainer ul ul ul a:hover {
	color: #F5F7FE;
}

#sidebarContainer .sideHeader,
#sidebarContainer h1,
#sidebarContainer h2,
#sidebarContainer h3,
#sidebarContainer h4,
#sidebarContainer h5,
.blog-archive-link {
	border-bottom-color: #BEBEBE;
	color: #BEBEBE;
}

.blog-entry-title a,
.photo-title,
.album-title,
.movie-page-title,
h1, h2, h3, h4,
.blog-archive-month {
	color: #071F4D;
}

.blog-entry-date,
.album-description,
.movie-page-description {
	border-color: #F1F1F1;
}

.blog-entry-title a:hover,
.blog-entry-comments a {
	color: #F5F7FE;
}

.blog-entry-comments {
	border-top-color: #F5F7FE;
	color: #F5F7FE;
}

.thumbnail-frame img,
.photo-frame,
.movie-thumbnail-frame img {
	border-color: #455E85;
	background: #2B446B;
}

.photo-navigation a:link,
.photo-navigation a:visited {
	color: #F5F7FE;
}

.photo-navigation a:hover {
	color: #C2C2C2;
}