
#stacks_in_88_page8 {
	margin: 20px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_58_page8 {
	margin: 10px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_239_page8 {
	margin: 10px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_179_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_179_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_181_page8 {
	margin-left:0;
}

#stacks_in_181_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_179_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_186_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_186_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_188_page8 {
	margin-left:0;
}

#stacks_in_188_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_186_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_172_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_172_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_175_page8 {
	margin-left:0;
}

#stacks_in_175_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_172_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_76_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_76_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_78_page8 {
	margin-left:0;
}

#stacks_in_78_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_76_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_265_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_265_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_267_page8 {
	margin-left:0;
}

#stacks_in_267_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_265_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_272_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_272_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_274_page8 {
	margin-left:0;
}

#stacks_in_274_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_272_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_340_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_340_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_351_page8 {
	margin-left:0;
}

#stacks_in_351_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_340_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_69_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_69_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_71_page8 {
	margin-left:0;
}

#stacks_in_71_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_69_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_365_page8 .stacks_left {
	float:left;
	width:19%;
}

#stacks_in_365_page8 .stacks_right {
	float:right;
	width:79%;
}
#stacks_out_367_page8 {
	margin-left:0;
}

#stacks_in_367_page8 {
	margin: 5px 0px 0px 0px;
}

#stacks_in_365_page8 {
	border: solid #D9D9D9;
	border-width: 1px 0px 0px 0px;
	margin: 10px 30px 10px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_90_page8 .stacks_left {
	float:left;
	width:48%;
}

#stacks_in_90_page8 .stacks_right {
	float:right;
	width:48%;
}
#stacks_in_97_page8 {
	margin: 30px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}

#stacks_in_100_page8 {
	margin: 30px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}

#stacks_in_90_page8 {
	margin: 0px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_112_page8 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_112_page8 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_112_page8 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_117_page8 {
	text-transform: capitalize;
}

#stacks_in_116_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_119_page8 {
	font-size: 95%;
}

#stacks_in_118_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_114_page8 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_126_page8 {
	text-transform: capitalize;
}

#stacks_in_125_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_131_page8 {
	font-size: 95%;
}

#stacks_in_127_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_121_page8 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_136_page8 {
	text-transform: capitalize;
}

#stacks_in_135_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_147_page8 {
	font-size: 95%;
}

#stacks_in_146_page8 {
	border: solid #999999;
	border-width: 0px 0px 1px 0px;
	padding: 5px 0px 5px 0px;
}

#stacks_in_133_page8 {
	padding: 5px 10px 5px 10px;
}

#stacks_in_112_page8 {
	border: solid #999999;
	border-width: 3px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_107_page8 {
	margin: 0px 30px 0px 30px;
}
