
#stacks_in_251_page22 {
	font-size: 120%;
}

#stacks_in_250_page22 {
	margin: 20px 30px 0px 30px;
	padding: 20px 0px 0px 0px;
}

#stacks_in_249_page22 {
	font-size: 90%;
}

#stacks_in_248_page22 {
	margin: 20px 30px 0px 30px;
}
